@{
    ViewData["Title"] = "Index";
}

<h2>Catalogo</h2>

<img src="images/Photho1.png" alt="Sample Photo" />

<h2>Disfruta tus compras en la tienda un lugar en la cual tus productos estaran aqui en un mejor precio</h2>